/* -------------------- DOAÇÕES -------------------- */

.doacoes {
    margin-top: 100px;
    padding: 100px;
}

.doacoes-container {
    display: flex;
    flex-direction: column;
    max-width: 1000px;
    margin: 0 auto;
}

.doacoes-titles {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.doacoes-titles p {
    max-width: 800px;
    text-align: justify;
    font-size: 18px;
    margin: 20px;
}

.doe {
    height: 500px;
    position: relative;
    margin: 50px;
}

.bg-image-01 img {
    width: 100%;
    height: 100%;
    z-index: 1;
    position: absolute;
}

.doe-frame {
    width: 150px;
    height: 150px;
    border: 3px solid var(--primary-green);
    position: absolute;
    z-index: 0;
}

.doe .frame-left {
    top: -8px;
    left: -8px;
}

.doe .frame-right {
    bottom: -8px;
    right: -8px;
}