@font-face {
    font-family: 'lemon-milk';
    src: url(../fonts/LEMONMILK-Bold.otf);
}

@font-face {
    font-family: 'lemon-milk';
    src: url(../fonts/LEMONMILK-BoldItalic.otf);
}

@font-face {
    font-family: 'lemon-milk';
    src: url(../fonts/LEMONMILK-Light.otf);
}

@font-face {
    font-family: 'lemon-milk';
    src: url(../fonts/LEMONMILK-LightItalic.otf);
}

@font-face {
    font-family: 'lemon-milk';
    src: url(../fonts/LEMONMILK-Medium.otf);
}

@font-face {
    font-family: 'lemon-milk';
    src: url(../fonts/LEMONMILK-MediumItalic.otf);
}

@font-face {
    font-family: 'lemon-milk';
    src: url(../fonts/LEMONMILK-Regular.otf);
}

@font-face {
    font-family: 'lemon-milk';
    src: url(../fonts/LEMONMILK-RegularItalic.otf);
}