@font-face {
    font-family: 'helvetica';
    src: url(../fonts/Helvetica.ttf);
}

@font-face {
    font-family: 'helvetica-bold';
    src: url(../fonts/Helvetica-Bold.ttf);
}

@font-face {
    font-family: 'lemon-milk';
    src: url(../fonts/LEMONMILK-Regular.otf);
}