body {
    font-family: 'helvetica', sans-serif;
    overflow-x: hidden;
}

:root {
    --primary-yellow: #F9B233;
    --primary-green: #008D36;
    --primary-blue: #29235C;
    --secundary-yellow: #ecb659;
    --secundary-green: #009048;
    --secundary-blue: #322b72;
}

:root {
    --primary-color: #333;
    --secundary-color: #EEE;
    --shadow-color: #CCC;
    --text-color: #FFF;
}

.section-title {
    color: var(--primary-green);
    font-size: 40px;
    text-transform: uppercase;
    margin: 20px;
}

/* -------------------- HEADER -------------------- */

header {
    position: absolute;
    top: 0;
    z-index: 1;
}

header .company-name-container {
    background-color: #fff;
    display: flex;
    align-items: center;
}

header .company-name-container img {
    width: auto;
    height: 80px;
    margin-left: 15px;
    cursor: pointer;
}

header .company-name {
    font-size: 30px;
    padding: 25px;
}

header .menu {
    background-color: var(--primary-green);
    color: #DCE0DC;
    text-transform: uppercase;
    font-size: 13px;
    font-family: 'helvetica-bold';
    display: flex;
    justify-content: center;
    width: 100vw;
    /* padding-left: 50px; */
}

header .menu ul {
    display: flex;
    justify-content: space-between;
    gap: 30px;
}

header .menu li {
    padding: 20px 15px;
    cursor: pointer;
    transition: 0.3s;
}

header .menu li:hover {
    background-color: var(--secundary-green);
    color: var(--secundary-color);
}

header .menu ul .active {
    background-color: var(--secundary-green);
    color: var(--primary-yellow);
}

header .menu-opener {
    display: none;
}

header .menu-socials {
    height: 30px;
    width: 30px;
}


/* -------------------- BANNER -------------------- */

.banner {
    height: 500px;
    overflow: hidden;
    margin-top: 134px;
    position: relative;
}

.banner .sliders {
    height: 100%;
    width: 305vw;
    transition: all ease 0.8s;
}

.banner .slide {
    display: inline-block;
    width: 100vw;
    height: 100%;
}

.banner .slidearea-01 {
    background-image: url(../images/IBRAS-MARCA.jpg);
    height: 100%;
    background-position: center;
    background-size: cover;
}

.banner .slidearea-02 {
    background-image: url(../images/IBRAS-MARCA-02.jpeg);
    height: 100%;
    background-position: center;
    background-size: cover;
}

.banner .slidearea-03 {
    background-image: url(../images/IBRAS-MARCA-04.jpg);
    height: 100%;
    background-position: center;
    background-size: cover;
}

.arrow {
    position: absolute;
    background-color: #7F8D7C;
    top: 35%;
    height: 150px;
    width: 50px;
    border-radius: 10px;
    display: flex;
    cursor: pointer;
}

.arrow:hover {
    opacity: 0.9;
}

.arrow.back {
    left: 20px;
}

.arrow.forward {
    right: 20px;
}

.arrow img {
    margin: auto;
    height: 30px;
}


/* -------------------- NOSSA MISSÃO -------------------- */

.about-us {
    padding: 100px;
    text-align: justify;

}

.about-us-container {
    max-width: 1000px;
    margin: 0 auto;
}

.about-us-titles {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 50px;
}

.about-us-titles hr {
    width: 270px;
    height: 2px;
    background-color: var(--primary-green);
    border: none;
    color: var(--primary-green);
    margin-bottom: 50px;
}

.about-us-titles p {
    max-width: 800px;
    font-size: 18px;
}

.missions {
    display: flex;
    justify-content: space-around;
}

.mission {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px;
}

.mission img {
    height: 350px;
    width: auto;
}

.mission span {
    margin: 30px;
    text-transform: uppercase;
    font-size: 18px;
}

.mission p {
    max-width: 260px;
    font-size: 14px;
}


/* -------------------- HISTÓRICO -------------------- */

.historic {
    height: 240px;
    background-color: var(--primary-blue)
}

.historic-container {
    max-width: 1000px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    height: 100%;
}

.historic-numbers {
    display: flex;
    flex-direction: column;
    width: 280px;
    height: 100%;
    align-items: center;
    text-align: center;
    gap: 20px;
    margin-top: 55px;
}

.historic .hist-number {
    color: var(--primary-yellow);
    font-size: 60px;
    font-weight: bold;
}

.historic .hist-text {
    color: #fff;
    text-transform: uppercase;
    line-height: 25px;
}


/* -------------------- DOAÇÕES -------------------- */

.doe-bg-cover {
    width: 100vw;
    height: 755px;
    background-color: rgba(255, 255, 255, 0.4);
    position: absolute;
}

.bg-image-01 {
    background-image: url(../images/doe.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vw;
    height: 755px;
}


/* -------------------- FALE CONOSCO -------------------- */

.contact-us {
    background-color: var(--primary-blue);
    padding: 50px 0 150px 0;
}

.contact-us-container {
    width: 1000px;
    margin: 50px auto;
}

.contact-us-titles {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact-us-titles p {
    color: #B8D0B6;
    line-height: 30px;
    max-width: 550px;
    text-align: center;
    font-size: 17px;
    margin-bottom: 40px;
}

.contact-us-infos {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
    width: 800px;
    margin: 0 auto;
    position: relative;
}

.contact-us-infos input,
select {
    background-color: transparent;
    border: none;
    border-bottom: solid 2px #B8D0B6;
    outline: none;
    font-size: 15px;
    padding: 5px;
    color: #CCC;
}

.contact-us-infos select {
    color: gray;
}

.contact-us #name,
#phone,
#state,
#country {
    width: 45%;
}

.contact-us #email {
    width: 94%;
}

.contact-us #message {
    width: 94%;
    padding-bottom: 80px;
}

.contact-us button {
    background-color: var(--primary-green);
    padding: 15px 50px;
    color: #B8D0B6;
    border: none;
    position: absolute;
    bottom: -80px;
    right: 20px;
    cursor: pointer;
}


/* -------------------- SERVIÇOS -------------------- */

.services {
    padding: 100px;
}

.services-container {
    height: auto;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.services-infos {
    display: flex;
    justify-content: space-between;
    gap: 15px;
    margin: 20px;
}

.services-info {
    width: 563px;
    height: 550px;
}

.services-info.text {
    background-color: var(--primary-yellow);
    padding: 35px;
    font-size: 23px;
}

.services-info.text ul {
    list-style: disc;
    padding: 30px;
}


.services-container span {
    font-size: 18px;
}

/* -------------------- GALERIA -------------------- */


.gallery {
    padding: 100px;
}

.gallery-container {
    margin: 0 auto;
    width: 1000px;
    height: 100%;
    overflow: hidden;
}

.gallery-titles {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.gallery-titles p {
    max-width: 800px;
    text-align: justify;
    font-size: 18px;
    margin: 20px;
}

.gallery .slides {
    width: 100%;
    height: 550px;
    display: flex;
    margin: 20px 0;
}

.gallery .slide {
    flex: 1;
    transition: 0.8s all ease;
}

.gallery .slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    cursor: pointer ;   
}

.gallery .photo-selected {
    flex: 15;
}

/* .gallery .manual-navigation {
    display: flex;
    gap: 10px;
    margin: 0 15px;
    overflow: hidden;
    transition: 0.5s ease;
}

.gallery .manual-navigation .manual-btn {
    width: 110px;
    height: 110px;
    cursor: pointer;
    margin-bottom: 20px;
}

.gallery .manual-btn:hover {
    transform: scale(1.05);
}

.gallery .manual-navigation .manual-btn img {
    width: 110px;
    height: 110px;
    object-fit: cover;
} */

/* .gallery .selected {
    opacity: 0.5;
}

.gallery-modal {
    position: fixed;
    background-color: rgba(0, 0, 0, 0.6);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: none;
}

.gallery-modal-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.gallery-modal img {
    position: fixed;
    z-index: 1;
    width: 90%;
    height: auto;
    text-align: center;
} */


/* -------------------- FOOTER -------------------- */

footer {
    background-color: #000;
    color: #B8D0B6;
}

.footer-menu {
    height: 200px;
    background-color: #1B2D31;
}

.footer-menu-container {
    width: 1150px;
    margin: 0 auto;
    display: flex;
    height: 100%;
    justify-content: space-around;
    align-items: center;
}

.footer-menu-items {
    text-transform: uppercase;
    text-align: center;
    max-width: 300px;
    font-size: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.footer-menu-items img {
    width: 30px;
}

.footer-menu-items.adress {
    font-size: 20px;
}

.footer-copyright {
    display: flex;
    width: 1000px;
    margin: auto;
}

.footer-copyright-container {
    display: flex;
    width: 1150px;
    margin: 0 auto;
}

.footer-socials {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.footer-socials img {
    width: 30px;
}

footer p {
    padding: 25px 10px;
}

.whatsapp {
    position: fixed;
    bottom: 15px;
    right: 15px;
    cursor: pointer;
}

.whatsapp img {
    width: 60px;
}