@media (max-width: 1150px) {

    /* -------------------- HISTÓRICO -------------------- */

    .historic-container {
        max-width: 900px;
    }

    .historic-numbers {
        width: 200px;
    }

    .historic .hist-number {
        font-size: 50px;
    }

    .historic .hist-text {
        font-size: 14px;
    }

    /* -------------------- GALERIA -------------------- */

    .gallery-container {
        width: 800px;
    }

    /* -------------------- FOOTER -------------------- */

    .footer-menu-container {
        width: 900px;
    }

    .footer-menu-items {
        max-width: 180px;
        font-size: 14px;
    }

    .footer-copyright-container {
        width: 900px;
    }

    footer p {
        font-size: 14px;
    }

}


@media (max-width: 900px) and (min-width: 691px) {

    .container {
        max-width: 600px;
    }

    .title-and-text h1 {
        font-size: 30px;
    }
    
    .title-and-text p {
        max-width: 600px;
        font-size: 15px;
    }

    /* -------------------- HEADER -------------------- */

    header .company-name {
        font-size: 25px;
        padding: 20px 30px;
    }

    header .menu {
        font-size: 12px;
    }

    header .menu ul {
        gap: 5px;
    }


    /* -------------------- BANNER -------------------- */

    .arrow {
        height: 120px;
        width: 40px;
        top: 43%;
    }


    /* -------------------- NOSSA MISSÃO -------------------- */

    .about-us {
        padding: 50px 0;
    }

    .about-us-titles p {
        margin-bottom: 50px;
    }

    /* -------------------- HISTÓRICO -------------------- */

    .historic {
        height: auto;
    }

    .historic-container {
        max-width: 700px;
    }

    .historic-numbers {
        gap: 13px;
        margin: 40px 0;
    }

    .historic .hist-number {
        font-size: 50px;
    }

    .historic .hist-text {
        font-size: 12px;
    }

    /* -------------------- DOAÇÕES -------------------- */

    .doe {
        margin: 50px 0;
        height: 331px;
    }

    /* -------------------- FALE CONOSCO -------------------- */


    .contact-us-infos {
        width: 650px;
    }


    /* -------------------- GALERIA -------------------- */

    .gallery-container {
        max-width: 700px;
    }

    .gallery .slides {
        height: 450px;
    }

     /* -------------------- PROJETOS -------------------- */
    
     .projects-list {
        max-width: 650px;
    }


    /* -------------------- FOOTER -------------------- */

    .footer-menu {
        height: auto;
        padding: 10px;
    }
    
    .footer-menu-container {
        width: 700px;
    }
    
    .footer-menu-items {
        max-width: 300px;
        font-size: 13px;
    }
    
    .footer-menu-items.adress {
        font-size: 12px;
    }
    
    .footer-copyright {
        width: 700px;
    }
    
    .footer-copyright-container {
        width: 700px;
    }
    
    .footer-creaters {
        width: 300px;
        font-size: 10px;
    }
    
    footer p {
        font-size: 12px;
    }

    .whatsapp img {
        width: 50px;
    }

}


@media (max-width: 690px) {

    .section {
        margin-top: 80px;
    }

    .container {
        max-width: 300px;
    }

    .title-and-text h1 {
        font-size: 22px;
        margin: 20px;
    }
    
    .title-and-text p {
        max-width: 300px;
        font-size: 14px;
        margin: 20px 0 10px;
    }

    /* -------------------- HEADER -------------------- */

    header .company-name {
        font-size: 18px;
        padding: 15px;
        font-weight: bold;
    }

    header .menu {
        height: 50px;
        justify-content: end;
    }

    header .menu ul {
        display: none;
        flex-direction: column;
        width: 70vw;
        background-color: var(--primary-green);
        text-align: left;
        margin-top: 49px;
        gap: 0;
    }
    
    header .menu-opener {
        display: block;
        position: absolute;
        top: 95px;
        right: 25px;
    }


     /* -------------------- BANNER -------------------- */

     .banner {
        height: 450px;
        margin-top: 134px;
    }

    .arrow {
        height: 50px;
        width: 20px;
        border-radius: 6px;
        top: 45%;
    }

    .arrow.back {
        left: 10px;
    }
    
    .arrow.forward {
        right: 10px;
    }
    
    .arrow img {
        height: 10px;
    }
    


    /* -------------------- NOSSA MISSÃO -------------------- */

    .about-us {
        padding: 50px 0;
    }

    .about-us-titles p {
        margin-bottom: 50px;
        text-align: center;
    }


    /* -------------------- HISTÓRICO -------------------- */

    .historic {
        height: 100%;
        padding-bottom: 50px;
    }

    .historic-container {
        max-width: 300px;
        flex-direction: column;
        align-items: center;
    }

    .historic-numbers {
        gap: 10px;
        margin-top: 45px;
    }

    .historic .hist-number {
        font-size: 60px;
    }


    /* -------------------- DOAÇÕES -------------------- */

    .doe {
        height: 200px;
        margin: 50px 0;
    }

    .doe-frame {
        width: 80px;
        height: 80px;
        border: 2px solid var(--primary-green);
    }

    .doe .frame-left {
        top: -6px;
        left: -6px;
    }

    .doe .frame-right {
        bottom: -6px;
        right: -6px;
    }

    /* -------------------- GALERIA -------------------- */

    .gallery {
        padding-top: 50px;
    }

    .gallery .slides {
        height: 400px;
        margin: 20px 0;
    }

    .gallery .photo-selected {
        flex: 25;
    }


    /* -------------------- SERVIÇOS -------------------- */
        
    .services ul {
        font-size: 20px;
        margin-top: 0px;
    }

    .services li {
        margin: 20px;
    }

    .services-infos {
        margin-top: 40px;
    }

    .services-container span {
        font-size: 11px;
        text-align: center;
    }

    /* -------------------- PROJETOS -------------------- */
    
    .projects-list {
        max-width: 330px;
    }

    .projects a {
        font-size: 11px;
    }

    /* -------------------- FALE CONOSCO -------------------- */

    .contact-us-titles p {
        line-height: 25px;
        max-width: 300px;
        font-size: 14px;
        margin-bottom: 40px;
    }
    
    .contact-us-infos {
        width: 300px;
    }

    .contact-us-infos input,
    select {
        font-size: 14px;
    }

    .contact-us #name,
    #phone,
    #state,
    #country {
        width: 90%;
        order: 1;
    }

    .contact-us #email {
        width: 90%;
        order: 3;
    }

    .contact-us #message {
        width: 90%;
        padding-bottom: 80px;
        order: 4;
    }

    .contact-us button {
        bottom: -90px;
        right: 15px;
    }

    #state {
        order: 2;
    }



    /* -------------------- FOOTER -------------------- */

    .footer-menu {
        height: auto;
        padding: 9px;
    }
    
    .footer-menu-container {
        width: 300px;
    }
    
    .footer-menu-items {
        max-width: 100px;
        font-size: 10px;
    }
    
    .footer-menu-items.adress {
        font-size: 9px;
    }
    
    .footer-copyright {
        width: 300px;
    }
    
    .footer-copyright-container {
        width: 300px;
    }
    
    .footer-creaters {
        width: 200px;
        font-size: 8px;
    }
    
    footer p {
        padding:10px;
        font-size: 8px;
    }

    .whatsapp img {
        width: 50px;
    }
}