.services {
    margin-top: 100px;
    padding: 50px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.services-container {
    width: 1000px;
    margin: 50px auto;
}

.services-titles {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.services-titles p {
    max-width: 800px;
    text-align: justify;
    font-size: 18px;
    margin: 20px 0 5px;
}

.services ul {
    text-align: center;
    font-size: 25px;
}

.services li {
    margin: 25px;
}

.services-container span {
    font-size: 18px;
    margin: 0 auto;
}

.services-infos {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 40px;
}